.card {
  height: 450px;
  text-align: center;
  margin-bottom: 5px;
}

.card-img-top {
  height: 200px;
}

a {
  color: #CB202D;
}

a:hover {
  color: white;
}

.favourite {
  color: white;
  background-color: #CB202D;
}
